.neonText {
  -webkit-text-stroke: 2px #ffffff; 
  color: transparent; 
  text-shadow:
    0 0 5px #4dc4ff,
    0 0 10px #1fa2ff,
    0 0 20px #007bff,
    0 0 40px #005bb5,
    0 0 80px #003f91; 
  letter-spacing: 4px; 
}

.glowingBulb {
  filter: drop-shadow(0 0 0px #ffffff);
  animation: fadeGlow 3s infinite;
}

@keyframes fadeGlow {
  0% {
    filter: drop-shadow(0 0 0px #ffffff);
  }
  50% {
    filter: drop-shadow(0 0 2px #ffffff)
            drop-shadow(0 0 4px #e6e6e6)
            drop-shadow(0 0 8px #cccccc);
  }
  100% {
    filter: drop-shadow(0 0 0px #ffffff);
  }
}






